[submodule "components/openvpn24/openvpn-build"]
	path = components/openvpn24/openvpn-build
	url = https://github.com/OpenVPN/openvpn-build.git
[submodule "components/openvpn24/openvpn"]
	path = components/openvpn24/openvpn
	url = https://github.com/OpenVPN/openvpn.git
[submodule "components/hnsd/openssl"]
	path = components/hnsd/openssl
	url = https://github.com/openssl/openssl
[submodule "components/hnsd/unbound"]
	path = components/hnsd/unbound
	url = https://github.com/NLnetLabs/unbound
[submodule "components/hnsd/hnsd"]
	path = components/hnsd/hnsd
	url = https://github.com/handshake-org/hnsd
[submodule "components/shadowsocks/libev-windows/libev"]
	path = components/shadowsocks/libev-windows/libev
	url = https://github.com/shadowsocks/libev.git
[submodule "components/shadowsocks/shadowsocks-libev"]
	path = components/shadowsocks/shadowsocks-libev
	url = https://github.com/shadowsocks/shadowsocks-libev.git
[submodule "components/shadowsocks/mbedtls"]
	path = components/shadowsocks/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "components/shadowsocks/libsodium"]
	path = components/shadowsocks/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "components/shadowsocks/c-ares"]
	path = components/shadowsocks/c-ares
	url = https://github.com/c-ares/c-ares.git
[submodule "components/shadowsocks/libev-posix/libev"]
	path = components/shadowsocks/libev-posix/libev
	url = https://github.com/shadowsocks/libev.git
[submodule "components/wireguard/wireguard-go"]
	path = components/wireguard/wireguard-go
	url = git://git.zx2c4.com/wireguard-go
[submodule "components/wireguard/wireguard-windows"]
	path = components/wireguard/wireguard-windows
	url = git://git.zx2c4.com/wireguard-windows
[submodule "components/wireguard/wintun"]
	path = components/wireguard/wintun
	url = git://git.zx2c4.com/wintun
[submodule "components/qt/icu/icu"]
	path = components/qt/icu/icu
	url = https://github.com/unicode-org/icu.git
[submodule "components/patchelf/patchelf"]
	path = components/patchelf/patchelf
	url = https://github.com/NixOS/patchelf
